body {
  margin: 0;
  padding: 0;
}

header .main {
  height: 85px;
  background-color: #fff;
  color: #777;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1;
}
header .main .MenuWrap {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .main .MenuWrap .logoText {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
}
header .main .MenuWrap ul {
  padding-left: 0;
}
header .main .MenuWrap ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 19px;
  padding-right: 42px;
}
header .main .MenuWrap ul li:last-of-type {
  padding-right: 0;
}
header .main .MenuWrap ul li a {
  text-decoration: none;
  color: #777;
}
header .main .MenuWrap ul li a:hover {
  color: #bfba55;
}
header .h_text {
  height: calc(100vh - 85px);
  background: url("../img/home-bg.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
header .h_text::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
header .h_text .h-h-Text {
  font-size: 70px;
  margin: 0;
  position: relative;
}
header .h_text .helloText {
  position: relative;
  color: #bfba55;
  letter-spacing: 2px;
}
header .h_text .discover {
  position: relative;
  text-transform: uppercase;
  border: 0;
  border-radius: 40px;
  padding: 15px 23px;
  background-color: #fff;
  margin-top: 35px;
  color: #777;
}
/*Yuriy Dubnytskyi*/
main {
  margin-top: 110px;
  width: 100%;
}
main .posts {
  width: 900px;
  margin: 0 auto;
}
main .posts img {
  max-width: 900px;
}
main .posts .postHeaderText {
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 32px;
}
main .posts .postInfo {
  padding-left: 0;
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .posts .postInfo li {
  list-style-type: none;
  display: inline-block;
}
main .posts .postInfo li img {
  width: 42px;
  border-radius: 50%;
}
main .posts .postText {
  color: #777;
  line-height: 25px;
  font-size: 17px;
}
main .posts .postContinue {
  border: 1px solid #cccccc;
  border-radius: 40px;
  padding: 16px 27px;
  background-color: #fff;
  margin-top: 21px;
  color: #777;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 60px;
}
main .posts hr {
  border: 0;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 85px;
}

footer {
  margin-top: 115px;
  width: 100%;
  height: 355px;
  background-color: #000;
  color: #777;
  display: flex;
  align-items: center;
}
footer .footer {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
footer .footer .left, footer .footer .right {
  display: flex;
  flex-direction: column;
}
footer .footer .left {
  width: 430px;
}
footer .footer .left .footerText {
  line-height: 25px;
  margin-bottom: 0;
}
footer .footer .left .footerCr {
  margin-top: 25px;
}
footer .footer .right .footerText {
  line-height: 34px;
}
footer .footer .footerHeaderText {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 0;
}
footer .footerWrap .footerText {
  font-size: 17px;
}

@media (max-width: 1200px) {
  header .mainMenu .mainMenuWrap {
    width: 900px;
  }
}